.divTable{
    margin-top: 50px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h2{
    text-align: center;
    margin-top: 40px;
}

a{
    text-decoration: none;
    color: black;

}

.busqueda  {
    width: 15%;
    margin-left: 90px;
}

.busquedax {
    width: 15%;
    margin-left: 90px;
}


.tableDetails:hover{
    color: rgb(3, 164, 175);
    font-weight: 600;
    cursor: pointer;
}


.dropdownMain {

    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 8.5%;

}

.btnCreateBill {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 15%;
    background-color: rgb(11, 86, 109);
}

#test-table-xls-button{
    margin-top: 18px;
    margin-left: 90px;
}
/* .modalCreateBill{
    width: 120%;
} */


.modal-content{
    width: 120%;
}


